body {
    display: flex;
    flex-direction: column;
}
li {
    display: flex;
    flex-direction: row;
    border: solid gray 1px;
    width: 300px;
}

.product-name{
    width: 120px;
    font-size: 20px;
    margin : 0 10px 10px 0;
}
a {
    text-decoration: none;
    margin-left: 10px;
}

.message{
    position: absolute ;
    font-size: 20px;
    align-self: center;
}
.success {
    color: green;
}
.error {
    color: red;
}