body {
    display: flex;
    flex-direction: column;
}
li {
    display: flex;

}

.product-name{
    font-size: 20px;
    margin : 0 10px 10px 0;
}
a {
    text-decoration: none;
    margin-left: 10px;
}

.message{
    margin-top: 77px;
    position: absolute ;
    font-size: 20px;
    align-self: center;
    text-align: left;
}
.success {
    color: green;
}
.error {
    color: red;
}